<div class="toolbar" role="banner">
  <img
    width="40"
    alt="Logo"
    src="https://cdn1.iconfinder.com/data/icons/36-science-badge-pixel-perfect-outline-modern-and-/64/mathematics-science-education-badge-logo-512.png"
  />
  <span>{{ title }}</span>
</div>

<div class="content" role="main">

  <div class="container h-100">
    <div class="row h-100 justify-content-center align-items-center">
      <div class="col-xs-12 col-sm-8 col-md-7 col-lg-7 col-xl-7">
        <span class="multiplication">{{randNumber1}} x {{randNumber2}} = ?</span>
      </div>
    </div>
    <app-result-form (sendNumber)="resultNumber($event)"></app-result-form>
  </div>

  <footer>

  </footer>


</div>
